In [8]:
import pandas as pd 
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np
import seaborn as sns
#import yfinance as yf

#df = yf.download('ETH-USD', start = '2014-01-01')
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
sns.set()
#import pylab
import scipy.stats

In [9]:
file = 'WIKI_PRICE.csv'

In [10]:
df = pd.read_csv(file)

In [11]:
df.head(31)

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0
5,A,1999-11-26,40.88,41.50,40.75,41.19,1237100.0,0.0,1.0,27.889999,28.312988,27.801308,28.101494,1237100.0
6,A,1999-11-29,41.00,42.44,40.56,42.13,2914700.0,0.0,1.0,27.971868,28.954295,27.671682,28.742800,2914700.0
7,A,1999-11-30,42.00,42.94,40.94,42.19,3083000.0,0.0,1.0,28.654109,29.295415,27.930934,28.783735,3083000.0
8,A,1999-12-01,42.19,43.44,41.88,42.94,2115400.0,0.0,1.0,28.783735,29.636535,28.572240,29.295415,2115400.0
9,A,1999-12-02,43.75,45.00,43.19,44.13,2195900.0,0.0,1.0,29.848030,30.700831,29.465975,30.107281,2195900.0
10,A,1999-12-03,44.94,45.69,44.31,44.50,2175700.0,0.0,1.0,30.659896,31.171577,30.230085,30.359711,2175700.0
11,A,1999-12-06,45.25,46.44,45.19,45.75,1610000.0,0.0,1.0,30.871391,31.683257,30.830457,31.212511,1610000.0
12,A,1999-12-07,45.75,46.00,44.31,45.25,1585100.0,0.0,1.0,31.212511,31.383072,30.230085,30.871391,1585100.0
13,A,1999-12-08,45.25,45.63,44.81,45.19,1350400.0,0.0,1.0,30.871391,31.130643,30.571205,30.830457,1350400.0
14,A,1999-12-09,45.25,45.94,45.25,45.81,1451400.0,0.0,1.0,30.871391,31.342137,30.871391,31.253446,1451400.0
15,A,1999-12-10,45.69,45.94,44.75,44.75,1190800.0,0.0,1.0,31.171577,31.342137,30.530271,30.530271,1190800.0
16,A,1999-12-13,45.50,46.25,44.38,45.50,2875900.0,0.0,1.0,31.041951,31.553632,30.277842,31.041951,2875900.0
17,A,1999-12-14,45.38,45.38,42.06,43.00,1665900.0,0.0,1.0,30.960082,30.960082,28.695043,29.336350,1665900.0
18,A,1999-12-15,42.00,42.31,41.00,41.69,2087100.0,0.0,1.0,28.654109,28.865603,27.971868,28.442614,2087100.0
19,A,1999-12-16,42.00,48.00,42.00,47.25,1848300.0,0.0,1.0,28.654109,32.747553,28.654109,32.235872,1848300.0
20,A,1999-12-17,46.38,47.12,45.44,45.94,2652400.0,0.0,1.0,31.642323,32.147181,31.001017,31.342137,2652400.0
21,A,1999-12-20,46.25,46.94,46.13,46.88,856100.0,0.0,1.0,31.553632,32.024378,31.471763,31.983443,856100.0
22,A,1999-12-21,46.69,46.69,46.00,46.63,1616200.0,0.0,1.0,31.853818,31.853818,31.383072,31.812883,1616200.0
23,A,1999-12-22,46.63,47.56,46.31,47.56,1363200.0,0.0,1.0,31.812883,32.447367,31.594566,32.447367,1363200.0
24,A,1999-12-23,47.50,50.00,47.44,49.75,1544700.0,0.0,1.0,32.406433,34.112034,32.365498,33.941474,1544700.0
25,A,1999-12-27,49.94,53.19,49.56,52.81,1451800.0,0.0,1.0,34.071100,36.288382,33.811848,36.029131,1451800.0
26,A,1999-12-28,54.25,61.50,53.94,61.50,2546500.0,0.0,1.0,37.011557,41.957802,36.800063,41.957802,2546500.0
27,A,1999-12-29,63.00,79.06,62.94,72.00,7524000.0,0.0,1.0,42.981163,53.937949,42.940229,49.121329,7524000.0
28,A,1999-12-30,76.00,80.00,74.25,79.25,4771900.0,0.0,1.0,51.850292,54.579255,50.656371,54.067574,4771900.0
29,A,1999-12-31,79.50,79.94,76.25,77.31,1381400.0,0.0,1.0,54.238135,54.538320,52.020852,52.744027,1381400.0
30,A,2000-01-03,78.75,78.94,67.38,72.00,3343600.0,0.0,1.0,53.726454,53.856080,45.969377,49.121329,3343600.0

In [12]:
df['date'] = pd.to_datetime(df['date'])   #Converting Date Column to DateTime Object

In [13]:
from datetime import datetime
df = df[(df.date >= datetime(2000, 1, 1)) ]

In [14]:
df.set_index(['ticker','date'],inplace=True)                  #Setting the date as index for time-series analysis
df

                    open   high      low  close     volume  ex-dividend  \
ticker date
A      2000-01-03  78.75  78.94  67.3800  72.00  3343600.0          0.0
       2000-01-04  68.13  68.88  64.7500  66.50  3408500.0          0.0
       2000-01-05  66.25  66.31  61.3100  61.56  4119200.0          0.0
       2000-01-06  61.63  62.00  58.1300  60.00  1812900.0          0.0
       2000-01-07  59.06  65.94  59.0000  65.00  2016900.0          0.0
...                  ...    ...      ...    ...        ...          ...
ZUMZ   2018-03-21  23.80  24.60  23.6058  23.95   354092.0          0.0
       2018-03-22  23.90  24.35  23.3000  23.35   269607.0          0.0
       2018-03-23  23.55  24.20  23.4500  23.55   301584.0          0.0
       2018-03-26  23.75  24.80  23.7000  24.65   375320.0          0.0
       2018-03-27  24.65  24.65  23.3500  23.60   403884.0          0.0

                   split_ratio   adj_open   adj_high    adj_low  adj_close  \
ticker date
A      2000-01-03          1.0  53.726454  53.856080  45.969377  49.121329
       2000-01-04          1.0  46.481058  46.992738  44.175084  45.369006
       2000-01-05          1.0  45.198445  45.239380  41.828176  41.998737
       2000-01-06          1.0  42.046493  42.298923  39.658651  40.934441
       2000-01-07          1.0  40.293135  44.986951  40.252200  44.345645
...                        ...        ...        ...        ...        ...
ZUMZ   2018-03-21          1.0  23.800000  24.600000  23.605800  23.950000
       2018-03-22          1.0  23.900000  24.350000  23.300000  23.350000
       2018-03-23          1.0  23.550000  24.200000  23.450000  23.550000
       2018-03-26          1.0  23.750000  24.800000  23.700000  24.650000
       2018-03-27          1.0  24.650000  24.650000  23.350000  23.600000

                   adj_volume
ticker date
A      2000-01-03   3343600.0
       2000-01-04   3408500.0
       2000-01-05   4119200.0
       2000-01-06   1812900.0
       2000-01-07   2016900.0
...                       ...
ZUMZ   2018-03-21    354092.0
       2018-03-22    269607.0
       2018-03-23    301584.0
       2018-03-26    375320.0
       2018-03-27    403884.0

[11343920 rows x 12 columns]

In [15]:
df= df[['adj_open','adj_high','adj_low','adj_close','adj_volume']]

In [16]:
df.columns = ['open', 'high', 'low', 'close', 'volume']

In [22]:
filename= 'stock_prices.h5'

In [12]:
# Save to HDF5
df.to_hdf(filename, 'data', mode='w', format='table')
del df    # allow df to be garbage collected

In [21]:
df.to_hdf(filename, 'us_stocks')

In [24]:
df= pd.read_hdf(filename, 'us_stocks')

In [25]:
df

                        open       high        low      close     volume
ticker date
A      2000-01-03  53.726454  53.856080  45.969377  49.121329  3343600.0
       2000-01-04  46.481058  46.992738  44.175084  45.369006  3408500.0
       2000-01-05  45.198445  45.239380  41.828176  41.998737  4119200.0
       2000-01-06  42.046493  42.298923  39.658651  40.934441  1812900.0
       2000-01-07  40.293135  44.986951  40.252200  44.345645  2016900.0
...                      ...        ...        ...        ...        ...
ZUMZ   2018-03-21  23.800000  24.600000  23.605800  23.950000   354092.0
       2018-03-22  23.900000  24.350000  23.300000  23.350000   269607.0
       2018-03-23  23.550000  24.200000  23.450000  23.550000   301584.0
       2018-03-26  23.750000  24.800000  23.700000  24.650000   375320.0
       2018-03-27  24.650000  24.650000  23.350000  23.600000   403884.0

[11343920 rows x 5 columns]

In [15]:
print(df.isna().sum())
df.dropna(inplace= True)

open      538
high       55
low        55
close       1
volume      0
dtype: int64

In [2]:
!zipline bundles

csvdir <no ingestions>
quandl 2022-03-01 01:08:26.547297
quantopian-quandl <no ingestions>

In [3]:
!zipline run -f dual_moving_average.py --start 2014-1-1 --end 2018-1-1 -o dma.pickle

Usage: zipline run [OPTIONS]
Try 'zipline run --help' for help.

Error: Invalid value for '-f' / '--algofile': Could not open file: dual_moving_average.py: No such file or directory

In [4]:
from zipline.api import order_target, record, symbol

def initialize(context):
    context.i = 0
    context.asset = symbol('AAPL')


def handle_data(context, data):
    # Skip first 300 days to get full windows
    context.i += 1
    if context.i < 300:
        return

    # Compute averages
    # data.history() has to be called with the same params
    # from above and returns a pandas dataframe.
    short_mavg = data.history(context.asset, 'price', bar_count=100, frequency="1d").mean()
    long_mavg = data.history(context.asset, 'price', bar_count=300, frequency="1d").mean()

    # Trading logic
    if short_mavg > long_mavg:
        # order_target orders as many shares as needed to
        # achieve the desired number of shares.
        order_target(context.asset, 100)
    elif short_mavg < long_mavg:
        order_target(context.asset, 0)

    # Save values for later inspection
    record(AAPL=data.current(context.asset, 'price'),
           short_mavg=short_mavg,
           long_mavg=long_mavg)

In [5]:
def analyze(context, perf):
    fig = plt.figure()
    ax1 = fig.add_subplot(211)
    perf.portfolio_value.plot(ax=ax1)
    ax1.set_ylabel('portfolio value in $')

    ax2 = fig.add_subplot(212)
    perf['AAPL'].plot(ax=ax2)
    perf[['short_mavg', 'long_mavg']].plot(ax=ax2)

    perf_trans = perf.loc[[t != [] for t in perf.transactions]]
    buys = perf_trans.loc[[t[0]['amount'] > 0 for t in perf_trans.transactions]]
    sells = perf_trans.loc[
        [t[0]['amount'] < 0 for t in perf_trans.transactions]]
    ax2.plot(buys.index, perf.short_mavg.loc[buys.index],
             '^', markersize=10, color='m')
    ax2.plot(sells.index, perf.short_mavg.loc[sells.index],
             'v', markersize=10, color='k')
    ax2.set_ylabel('price in $')
    plt.legend(loc=0)
    plt.show()

In [6]:
initialize()

TypeError: initialize() missing 1 required positional argument: 'context'